.body {
    height: 100vh;
    max-height: 100vh;
    background-image: url("../img/gallery/bg-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', 'sans-serif';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color: #E9ECEF;
    margin: 0px 100px;
    overflow: hidden;
    transition: background-image 1.2s ease-in-out;
}
/* TOP SECTION */
.navbar {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 16px 0px;
}

/* nav */
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: #E9ECEF;
    font-weight: 400;
    transition: font-weight .5s ease;
}
.link:hover {
    font-weight: bold;
}
/* dropdown-link-menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    background-color: rgba(2, 62, 138, .75);
    flex-flow: column wrap;
    border-radius: 16px;
    padding: 8px;
    position: absolute;
    width: 140px;
    margin-left: -40px;
}
.dropdown__link {
    text-decoration: none;
    margin: 4px auto;
    color: #FFFFFF;
}
.dropdown:hover .dropdown-content {
    display: flex;
}
.dropdown:hover .link--dropdown {
    font-weight: bold;
}
.dropdown-content .dropdown__link:hover {
    font-weight: 700;
    letter-spacing: 2px;
}
/* logo */
.logo {
    display: flex;
    align-items: center;
}
.logo__img {

}
.logo__text {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 700;
}

/* H1 - PAGE TITLE */
@keyframes loading {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.website-title {
    margin-top: -24px;
    margin-bottom: 30px;
    animation: loading 2s ease-in;
}
.website-title__heading {
    font-family: 'Lobster', 'sans-serif';
    text-align: center;
    font-size: 42px;
    letter-spacing: 5px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 8.41%, rgba(255, 255, 255, 0.75) 53.25%, rgba(255, 255, 255, 0.25) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-rows: 75% 25%;

}

/* Article with place descripton */

.place {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.place__heading-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.place__heading {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0;
}
.place__number {
    background-color: #023E8A;
    border-radius: 16px;
    width: 108px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.place__content {
    position: absolute;
    top: 140px;
    letter-spacing: .7px;
    text-align: justify;
    line-height: 28px;
    font-size: 14px;
}
.place__explore-btn {
    width: 220px;
    display: flex;
    margin: 0px auto;
    margin-top: 120px;
    background-color: #023E8A;
    border-radius: 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    transition: width 0.5s ease;
}

.place__explore-btn:hover {
    width: 240px;
}

.place__explore-btn p {
    margin-left: 32px;
    margin-right: 40px;
}

/* SLIDER */

.slider-box {
    position: relative;
    grid-column-start: 3;
}

.slider {
    position: absolute;
    width: 960px;
    height: 460px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Slide-1 */
.slide-01 {
    width: 224px;
    height: 368px;
    background-image: url("../img/slides/slide-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #023E8A;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    transition: background-image .1s ease;
}
.slide-01__icon {
}
.slide-01__heading:before {
    width: 224px;
    height: 60px;
    position: absolute;
    display: block;
    content: '';
    background-color: black;
    opacity: 35%;
    z-index: -1;
    margin-top: -16px;
}
.slide-01__heading {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

/* Slide-2 */

.slide-02 {
    width: 224px;
    height: 304px;
    background-image: url("../img/slides/slide-02.png");
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    transition: background-image .1s ease;
}
.slide-02__icon {
}
.slide-02__heading:before {
    width: 224px;
    height: 304px;
    position: absolute;
    display: block;
    content: '';
    background-color: black;
    opacity: 35%;
    z-index: -1;
    border-radius: 8px;
    margin-top: -162px;
}
.slide-02__heading {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: .5;
}
/* Slide-3 */
.slide-03 {
    width: 224px;
    height: 304px;
    background-image: url("../img/slides/slide-03.png");
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    transition: background-image .1s ease;
}
.slide-03__icon {

}
.slide-03__heading:before {
    width: 224px;
    height: 304px;
    position: absolute;
    display: block;
    content: '';
    background-color: black;
    opacity: 35%;
    z-index: -1;
    border-radius: 8px;
    margin-top: -162px;
}
.slide-03__heading {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: .5;
}

/* Slide-4 */
.slide-04 {
    width: 224px;
    height: 304px;
    background-image: url("../img/slides/slide-04.png");
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
.slide-04__icon {
}
.slide-04__heading:before {
    width: 224px;
    height: 304px;
    position: absolute;
    display: block;
    content: '';
    background-color: black;
    opacity: 35%;
    z-index: -1;
    border-radius: 8px;
    margin-top: -162
}
.slide-04__heading {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: .5;
}   

/* SLIDER-CONTROL-PANEL */

/* buttons */
.slider-control {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 875px;
}
.arrows {
    display: flex;
    width: 140px;
    flex-direction: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
}
.arrow-back {
    background-color: hsl(214, 97%, 27%, 80%);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform .6s;
}
.arrow-back:hover {
    transform: rotate(360deg);
}
.arrow-forward {
    background-color: hsl(214, 97%, 27%, 80%);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform .6s;
}
.arrow-forward:hover {
    transform: rotate(360deg);
}

/* position of slider */
.pos-line {
    width: 875px;
    border: 1px solid #F8F9FA;
    margin-top: 36px;
    border-radius: 16px;
}

.pos-points {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pos-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 80px;
    border-radius: 50%;
    background-color: white;
}
.pos-1__text {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #343A40;
}
.pos-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 300px;
    border-radius: 50%;
    background-color: white;
}
.pos-2__text {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #343A40;
}
.pos-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 300px;
    border-radius: 50%;
    background-color: white; 
}
.pos-3__text {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #343A40;
}
.pos-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 80px;
    border-radius: 50%;
    background-color: white;
}
.pos-4__text {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: #343A40;
}

.pos-active {
    background-color: #023E8A;
    width: 48px;
    height: 48px;
    color: #FFFFFF;
}

.pos-text-active {
    color: #FFFFFF;
    font-size: 20px;
}

/* Website made by */
.made-by {
    position: fixed;
    font-weight: bold;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}
@media (min-width: 1441px) {
    .body {
        margin: 0 180px;
    }
    .website-title__heading {
        font-size: 62px;
    }
    .website-title {
        margin-top: 12px;
        margin-bottom: 40px;
    }
    .place {
        width: 600px;
    }
    .place__number {
        width: 128px;
    }
    .place__content {
        top: 160px;
        font-size: 16px;
    }
    .slider-box {
        grid-column-start: 3;
        margin-left: 16px;
    }
    .slider-control {
        grid-row: 3;
        margin: 0px auto;
        margin-bottom: -30px;
    }
    .slider {
        position: absolute;
        width: 1200px;
        height: 460px;
    }
    .slide-01 {
        width: 280px;
        height: 460px;
    }
    .slide-02 {
        width: 280px;
        height: 380px;
    }
    .slide-02__heading:before {
        width: 224px;
        height: 380px;
        margin-top: -200px;
    }
    .slide-03 {
        width: 280px;
        height: 380px;
    }
    .slide-04 {
        width: 280px;
        height: 380px;
    }
    .slide-01__heading:before {
        width: 280px;
    }
    .slide-02__heading:before {
        width: 280px;
    }
    .slide-03__heading:before {
        width: 280px;
    }
    .slide-04__heading:before {
        width: 280px;
    }
    .slider-control {
        bottom: 100px;
    }
}